.player-info {
  padding: 4px;
  display: flex;
  align-items: flex-start;
  column-gap: 5px;
  line-height: 1em;
}

.player-out {
  background: #ddd;
  color: #555;
}

.player-place,
.player-color,
.player-points,
.player-out-mark {
  flex-grow: 0;
}

.player-name {
  flex-grow: 1;
}

.player-place {
  width: 1.2em;
  text-align: right;
}

.player-points {
  width: 2em;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
}

.player-out-mark {
  width: 1em;
}
