$containers-gap: 20px;

.game-container {
  padding: $containers-gap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: $containers-gap;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: stretch;
  }

  .canvas {
    flex-grow: 1;
  }

  .dashboards {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: $containers-gap;
  }
}
