$containers-gap: 20px;

.game-container {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: $containers-gap;

  .canvas {
    flex-grow: 1;
  }

  .dashboards {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: $containers-gap;
  }
}
