:host {
  display: block;
}

.canvas {
  width: 100%;
  height: calc(100dvh - 40px);
  background-color: #ccc;
  display: block;

  @media screen and (max-width: 500px) {
    height: unset;
    aspect-ratio: 1 / 1;
  }
}
