body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
  color: #333;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: .8em;
}

.no-wrap {
  white-space: nowrap;
}

.block-shadow {
  box-shadow: 0 0 3px #aaa;
  border-radius: 10px;
}
